@model IEnumerable<WebApplication8.Models.News>
<table class="table">
    <tr><td>№</td><td>Краткая информация</td><td>Полная новость</td><td>Дата</td><td>Автор</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Id</td><td>@item.About</td><td>@item.Text</td><td>@item.DateTime</td><td>@item.Author</td></tr>
    }
</table>

